body {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
   
}
 

.topnav {
  float: right;
  width: 100%;
  position: fixed;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 30px 30px;   
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #B5182D;
  color: white;
}

.topnav .icon {
    display: none;
  }

.home-banner{
    height: 100vh;
    object-fit: cover;
    
    background-repeat: no-repeat;
    background-size: cover;
    
}

.links{
    float: right;
}

.logo{
    float: left;
    color: white;
    padding: 10px 10px;
}

.container{
    width: 90%;
    margin: auto;
}

.left-box{
    color: white;
    width: 400px;
    background-color: #B5182D;
    padding: 20px;
    position: absolute;
    margin-top: -530px;
   
}



.button-design{
    background-color:#ffffff; 
    border: #000000;; 
    margin-top: 10px;
    text-align: center;
    padding: 8px 15px 8px 15px;
    color: #000000;
}

a.button-design{
    text-decoration: none;
}

.login-design{
    background-color:#B5182D; 
    border: #000000;; 
    text-align: center;
    color: #ffffff;
    margin-top: 25px;
    padding: 8px 15px 8px 15px;
    margin-left: 10px;
}

.div-lastcars{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.howitworks{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box{
    text-align: center;
    max-width: 25%;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;   
    padding: 20px; 
    margin-right: 0;
    box-sizing:border-box;
    justify-content: center;
    
}

.box img{
    height: auto;
    width: 100%;
    object-fit: cover;
}

.box:first-child{
    margin-left: 0px;
}


.box-home{
    text-align: center;
    max-width: 60%;
    float: left;
    margin-top: 20px;
    margin-bottom: 50px;   
    padding: 10px; 
    box-sizing: border-box;
    
}

.heading-design{
    text-align: center;
    margin-top: 50px;
    color: #000000;
    font-family: 'Trebuchet MS';
}

.carlogos{
    width: 100%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color:#B5182D;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo-box{
    width: 16.66%;
    float: left;
    text-align: center;
}

.the-service{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.icon-box{
    width: 200px;
    text-align: center;
    margin-top: 50px;
    padding: 10px; 
    display:inline-block;
    margin-bottom: 50px;  
    margin-right: 80px; 
    margin-left: 80px;
}


.paragraph-design{
    font-family: 'Trebuchet MS';
    color: #000000;
}
  
.footer{
    width: 100%;
    background-color:#000000;
    padding-top: 20px;
    display: flex;
}

.footer h2{
    color: #ffffff;
    text-align: center;
}

.footer p{
    text-align: center;
}

.paragraph-design2{
    font-family: 'Trebuchet MS';
    color: #ffffff;
    font-style: bold;
}

.copyright{
    width: 100%;
    background-color:#000000;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.home-banner-cars{
    height: 50vh;
    object-fit: cover;
    background-image: url(../img/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home-banner-about{
    height: 50vh;
    object-fit: cover;
    background-image: url(../img/autosalon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.home-banner-contact{
    height: 60vh;
    object-fit: cover;
    background-image: url(../img/contactus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

input[type=text], select, textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    resize: vertical; 
    padding: 10px;
    margin-bottom: 10px;
  }
  

input[type=submit] {
    background-color: #B5182D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #B5182D;
}

.about-us{
    width: 90%;
    margin: auto;
    margin-bottom: 70px;
}

.contact-content{
    width: 40%;
    padding-left: 30px;
}

.contact{
    display: inline;
}

.contact-info{
    margin-top: 20px;
    width: 50%;
    float: left;
    margin-bottom: 50px;
    margin-left: 50px;
}

.contact-form{
    margin-top: 50px;
    width: 40%;
    float: right;
    margin-bottom: 50px;
    margin-right: 80px;
}

.contact-form input{
    padding: 10px;
    margin-bottom: 10px;
}
.cardetails{
    display: flex;
}

.cardetails-img{
    margin-top: 10px;
    width: 60%;
    float: left;
    margin-bottom: 50px;
    
    box-sizing:border-box;
}
.cardetails-img img{
    height: auto;
}
.details-form{
    width: 30%;
    float: right;
    margin-bottom: 30px;
    margin-right: 50px;
    box-sizing:border-box;
    
}

.cardetails-heading{
    margin-top: 100px;
    
}

.register{
    height: 100vh;
    width: 100%;
    background-image: url(../img/registerimage.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
}

.register-form{
    width: 300px;
    background: rgba(120, 8, 23, 0.9);
    padding: 50px 0;
    color: #fff;
    box-shadow: 0 0 20px 2px rgba(120, 8, 23, 0.5);
    margin-bottom: 20px;
    position: absolute;
}

.register-form h1{
    text-align: center;
    margin-bottom: 10px;
}
.register-form p{
    text-align: center;

}

.register-form a{
    color: #fff;
}
.input-box{
    margin: 5px auto;
    width: 60%;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 5px;
}

.input-box input{
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    padding: 0px;
    margin-bottom: 0px;
}

::placeholder{
    color: #ccc;

}

.register-button{
    margin: 40px auto 20px;
    width: 60%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 1px solid #fff;
    cursor: pointer;
    background: transparent;
    color: #fff;
}

/* Admin  Dashboard*/
 
.admin-header{
    position: absolute;
    height: 55px;
    width: 100%;
    background-color: #1a1717;
    z-index: 4;
    opacity: 8;
}


.admin-logo{
    float: left;
    color: white;
    padding-left: 20px;
}

.side-nav{
    position: absolute;
    width: 100%;
    background-color: #B5182D;
    height: 100%;
    z-index: 3;
    padding-top: 44px;
}

.side-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-nav ul li{
    padding: 5px 10px;
    border-bottom: 1px solid #333;
}

.side-nav ul li a {
    color: #fff;
    text-decoration: none;
}

.side-nav ul li i {
    color: #fff;
}

@media screen and (max-width: 800px){
    .side-nav{
        width: 80px;
    }
    .side-nav ul li{
        text-align: center;
    }
    .side-nav ul li span:nth-child(2){
        display: none;
    }
    .side-nav ul li i {
        font-size: 26px;
    }
  
}

@media screen and (max-width: 100px){
    .side-nav{
        width: 200px;
    }
    .side-nav ul li {
        text-align: left;
    }
    .side-nav ul li span:nth-child(2){
        display: inline;
    }   
    .side-nav ul li i {
        font-size: 16px;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav a >:first-child{display: none;}
    .topnav a.icon {
        float: right;
        display: block;
  }

  .details-form p{
    font-size: medium;
    }
}

.admin-content{
    padding-top: 40px;
    padding-left: 230px;
    padding-right: 30px;
}

.admin-content h1{
    padding-top: 20px;
}


.table{
    width: 100%;
    border-collapse: collapse;
}

.table td, .table th{
    padding: 10px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px; 
}

.table tbody tr:nth-child(even){
    background-color: #f5f5f5;
}

.admin-add-button{
    background-color: green; 
        border: #000000;; 
        text-align: center;
        padding: 10px 15px 8px 15px;
        color: #ffffff;
        float: right;
        margin-bottom: 10px;
}

.add-cars{
    width: 48%;
    float: left;
}
.add-cars2{
    width: 48%;
    float: right;
}

.addbutton{
    background-color: green; 
    border: #000000;; 
    text-align: center;
    padding: 15px 25px 10px 25px;
    color: #ffffff;
    float: right;
    margin-top: 50px;
}
.cancelbutton{
    background-color: blue; 
    border: #000000;; 
    text-align: center;
    padding: 15px 25px 10px 25px;
    color: #ffffff;
    float: right;
    margin-top: 50px;
    text-decoration: none;
    margin-right: 10px;
}
  
.a-design {
    text-decoration: none;
    color: #000000;
    
}

.a-design :hover{
    color:#B5182D;
}

.a-design :visited{
    color: #000000; 

}
.a-design :link{
    color: #000000 !important; 

}

/*Resposive nav */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  @media screen and (max-width: 800px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 800px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }